.topic-cloud {
  @include make-row();
}

.topics {
  @include make-md-column(6);
}

.topic-info {
  @include make-md-column-offset(1);
  @include make-md-column(5);
}

.topics {
  font-size: 1.5em;
  text-align: center;

  .topic--size-1 { font-size: 0.50em; }
  .topic--size-2 { font-size: 0.75em; }
  .topic--size-3 { font-size: 1.00em; }
  .topic--size-4 { font-size: 1.25em; }
  .topic--size-5 { font-size: 1.50em; }
  .topic--size-6 { font-size: 1.75em; }

  .topic--sentiment-positive {
    color: $brand-success;
    &:hover, &.topic--is-selected {
      color: darken($brand-success, 15%);
    }
  }

  .topic--sentiment-negative {
    color: $brand-danger;
    &:hover, &.topic--is-selected {
      color: darken($brand-danger, 15%);
    }
  }

  .topic--sentiment-neutral {
    color: $gray-light;
    &:hover, &.topic--is-selected {
      color: darken($gray-light, 15%);
    }
  }

  .topic--is-selected {
    text-decoration: underline;
  }

  .topic {
    margin-right: 20px;
    white-space: nowrap;
  }

  .topic:after {
    white-space: normal;
    text-decoration: none;
    content: '';
  }
}

.topic-info {
  padding-top: .5em;

  @media (max-width: $screen-md-min) {
    text-align: center;
    margin-top: 2em;
  }
}

ul.topic-info__metrics {
  padding: 0;

  .item--emphasize {
    margin: 1em 0;
  }

  .topic-info__volume,
  .topic-info__positive,
  .topic-info__negative,
  .topic-info__neutral {
    margin: .5em;
  }

  list-style: none;
}
