$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_variables.scss";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_normalize.scss";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_grid.scss";
// endbower

@import "./_topic-cloud.scss";

/* Base */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.app {
  padding-top: 1em;
}

.footer {
  padding-top: 1em;
  border-top: 1px solid #e5e5e5;
}


/* Typography */
body {
  font-size: 18px;
  font-family: 'Helvetica Neue', Helvetica,
               Arial, 'Lucida Grande', sans-serif;
  color: $gray-darker;
}

a {
  color: $link-color;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}

